
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin-top: 0;
  font-size: 28px;
  color: var(--text-color);
}

.popup p {
  font-size: 22px;
  color: var(--text-color);
}

.popup button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--active-button-color);
  transition: background-color 0.3s;
}

.popup button:hover {
  background-color: var(--button-hover-bg);
}
